@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: #fbfbfb;
}

.hero_section {
  background: url("./assests/background.png");
  background-size: cover;
}
